/* reset */

html, body, div, span, form, table, tbody, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* reset end */


body {
    font-family: 'Roboto', arial, serif;
    font-size: 14px;
    font-weight: 400;
}

.wrapper {
    text-align: center;
    padding-top: 100px;
}

/* fieldset green */

.fieldset_green {
    display: inline-block;
    width:700px;
    background: #00B285;
    padding: 20px 40px;
}

.fieldset_green_table {
    width: 100%;
    border: 0;
    text-align: left;
}

.fieldset_green_cell {
    padding: 20px 0;
    font-size: 2.7em;
    font-family: 'Roboto', arial, serif;
    font-weight: 100;
    color: white;
}

.fieldset_green_input {
    border: 0;
    color: #FFF;
    width:90%;
    background: #00B285;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    white-space: nowrap;
}

.fieldset_green_amount {
    width: 50%;
    text-align: right;
}

.fieldset_green_input::-webkit-input-placeholder {color:#8ADFCE;}
.fieldset_green_input::-moz-placeholder {color:#8ADFCE;}
.fieldset_green_input:-moz-placeholder {color:#8ADFCE;}
.fieldset_green_input:-ms-input-placeholder {color:#8ADFCE;}

.fieldset_green_input[type='number'] {
-moz-appearance:textfield;
}
.fieldset_green_input[type=number]::-webkit-inner-spin-button, 
.fieldset_green_input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}

.fieldset_green_caption {
    color: #FFF;
    text-align: left;
}

.fieldset_green_caption:first-child {
    width:400px;
}

.fieldset_green_submit {
    background: #8adfce;
    border:0;
    color: #00B285;
    padding: 5px 20px;
}

.fieldset_green_submit_active {
    background: #FFF;

}

/* fieldset green end */



